body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #abcbf1fb;
}


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url('\logo3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 210px;
    background-color: #abcbf1fb;

}
.loader h1 {
    top: 100%;
    left: 0%;
    position: fixed;
    color: rgb(6, 6, 6);
    }
.logo2 {
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}
.spinner {
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    border: 10px solid #f1f65e;
    border-top: 10px solid hsl(192, 87%, 75%);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.container {
    max-width: 100%;
    max-height: 100%;
    margin: 1px ;
    padding: 10px;
    background-color: #0c0c0c;
    border: 1px solid #0b0b0b;
    box-shadow: 0 0 10px rgba(109, 133, 232, 0.1);
}
.top-section {
    background-color:  #a1cbedfa; /* Just for visualization */
    padding: 1px;
    text-align: center;
    height: 15%;
    position: relative;
}
.bottom-section {
    background-color: rgb(250, 249, 249); /* Just for visualization */
    padding: 1px;
    height: 70%;
    text-align: center;
    position: relative;
}
.header {
    color: #060606;
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    height: 10vh;
    border-radius: 10px;
    /* background-image: url('images.jpeg');
    background-repeat:  no-repeat;
    background-size: cover; */
    background-color: white;
    height: 100%;    
}
.header h2 {
    margin: 0;
}
.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
}
.cart-item {
    width: 28%;
    height: 73%;
    max-height: 600px;
    margin: 3px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
vertical-align: top;
margin-right: 10px;
    
}
.cart-item:hover {
    box-shadow: 0px 0px 30px rgb(140, 189, 249);
}
.cart-item.item-name {
    font-weight: bold;
}
.cart-item.quantity {
    font-size: 16px;
    color: #666;
}
.cart-item.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.cart-item.total-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.actions {
    text-align: right;
    border-radius: 10px;
}
.actions button {
    background-color: #0a0b10;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 4px 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}
.actions button:hover {
    background-color: #f1847c;
}
.suspend, .hold, .checkout {
    background-color: #b5b6b5;
    border: 5px solid #ddd;
    border-radius: 10px;
    align-items: center;
}

.suspend:hover, .hold:hover, .checkout:hover {
    background-color: #8aaef6;
    border: 5px solid #f12626;
    border-radius: 10px;
    align-items: center;
}
.scrollable-div {
    width: 500px;
    height: 280px;
    border: 1px solid #000;
    overflow-y: auto; /* Adds vertical scrolling only */
    overflow-x: hidden; /* Ensures horizontal scrolling is disabled */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('https://as2.ftcdn.net/v2/jpg/02/94/66/65/1000_F_294666511_s8ZJKjdYiT2Sb3gmv2SgJsadGjvtJ4u1.jpg'); /* Specify the path to your image */
    background-size: 400px; /* Ensures the background image covers the entire div */
    background-attachment: fixed; /* Fixes the background image so it doesn't move on scrolling */
    background-repeat: no-repeat; /* Ensures the background image doesn't repeat */
    background-position: center; /* Centers the background image */
}

.left-column_in{
    width: 97vw;
    height: 70vh;
    max-height: 600px;
    float: left;
    border-radius: 10px; 
    display: flex;
    color: black;
    background-color: #090909;
    overflow-x: auto;
    white-space: inherit;
}

.left-column {
    width: 100%;
    float: right;
    background-color: #0a0a0a;
    color: white;
    height: 63vh;
    border: 1px solid #0b0b0b;
    overflow-x: hidden; /* Ensures horizontal scrolling is disabled */
    padding: 1px;
    overflow-y: auto;
}


.right-column {
width: 73vw;
height: 25vh;
float: right;
background-color: #fff;
height: 24vh;
padding: 0px;
display: flex;
flex-wrap: wrap;
overflow-y: auto;
border-radius: 0px;
flex-direction: column;
border-radius: 15px;
margin: 0px;
box-shadow: rgb(251, 191, 191) 10px 15px 10px;
}
.actions1 {
    text-align: right;
    background-color: #a1cbedfa;
    color: #fff;
    padding: 0px;
    text-align: center;
    border-radius: 15px;
    width: 24vw;
    height: 20vh;
    overflow: hidden;
    box-shadow: rgb(251, 191, 191) 8px 12px 10px;


}
.text {
    text-align: center;
    align-self: center;
}
table {
    border-collapse: collapse; /* Collapse borders for cleaner look */
    width: 100%; /* Optional: Set table width */
    height: 15vh;
}
th {
    padding: 10px 20px; /* Add padding for spacing */
    text-align: center; /* Optional: Align text to the left */
    border-bottom: 2px solid #ddd; /* Optional: Add bottom border */
}
td {
    text-align: center;
}
.sp {
    height: 10px;
    width: 100vh;
}
.logo{
    float: left;
    overflow: visible;
    height: 100px;
    
    
    
}
.add-item-button{
    height: 80px;
    width: 100px;
    border-radius: 10px;
    margin-top: 170px;
}

#shopping-list {
    border-collapse: collapse;
    width: 100%;
  }
  
  #shopping-list th, #shopping-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #shopping-list th {
    background-color: #f0f0f0;
  }
  

  .img1{
    height: 25%;
    width: 70%;
  }

.scanner-container {
    position: relative;
    width: 10vw;
    height:50px;
    border: 0px solid #f80808;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    border-radius: 15px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border-radius: 15px;
    align-items: center;
    position: absolute;
    margin-top: 14px;
}
  
  .scanner {
    position: relative;
    width: 10vw;
    height: 50px;
    background: rgba(0, 255, 0, 0.1);
  }
  
  .scanner-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(248, 2, 2, 0.932);
    animation: scan 2s infinite;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.8);
  }
  
  @keyframes scan {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }